:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --light-blue: #2196f3;
  --dark-shade-of-purple: #7e56da;
  --orange-color: #c88207;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --bg-ccc: #ccc;
  --c-eee:#eee;
  --black: black;
}
body[data-theme="light"] {
  --page-bg: #f1f5f9;
  --text-color: black;
  --primary-color: white;
  --secondary-color: #eee;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --light-blue: #2196f3;
  --dark-shade-of-purple: #7e56da;
  --orange-color: #c88207;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --bg-ccc: #ccc;
  --c-eee:#eee;
  --black: black;
}
body[data-theme="dark"] {
  --page-bg: #121315;
  --text-color: #e7e5e5;
  --primary-color: #1a1a1e;
  --secondary-color: #262a2e85;
  --border-color: #3c4043;
  --slate-grey: #262a2e85;
  --midnight-blue: #1a1a1e;
  --light-gray: #cccccc;
  --dark-grey: #121315;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --light-blue: #2196f3;
  --dark-shade-of-purple: #7e56da;
  --orange-color: #c88207;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --bg-ccc: #ccc;
  --c-eee:#eee;
  --black: black;
}
/* Start Box */
.overflow-hidden {
  overflow: hidden;
}
.flowY-auto {
  overflow-y: auto;
}
.w-fit {
  width: fit-content;
}
.w-full {
  width: 100%;
}
.minw-260 {
  min-width: 260px;
}
.maxw-full {
  max-width: 100%;
}
.w-10 {
  width: 10px;
}
.w-15 {
  width: 15px;
}
.w-20 {
  width: 20px;
}
.w-27 {
  width: 27px;
}
.w-25 {
  width: 25px;
}
.w-32 {
  width: 32px;
}
.w-38 {
  width: 38px;
}
.w-40 {
  width: 40px;
}
.w-46 {
  width: 64px;
}
.w-48 {
  width: 48px;
}
.w-52 {
  width: 52px;
}
.w-55 {
  width: 55px;
}
.w-60 {
  width: 60px;
}
.w-64 {
  width: 64px;
}
.w-80 {
  width: 80px;
}
.w-100 {
  width: 100px;
}
.w-120 {
  width: 120px;
}
.w-160 {
  width: 160px;
}
.w-175 {
  width: 175px;
}
.w-200 {
  width: 200px;
}
.w-250 {
  width: 250px;
}
.w-260 {
  width: 260px;
}
.w-275 {
  width: 275px;
}
.w-300 {
  width: 300px;
}
.w-320 {
  width: 320px;
}
.w-340 {
  width: 340px;
}
.h-fit {
  height: fit-content;
}
.h-full {
  height: 100%;
}
.minh-80 {
  min-height: 80px;
}
.h-4 {
  height: 4px;
}
.h-6 {
  height: 6px;
}
.h-8 {
  height: 8px;
}
.h-10 {
  height: 10px;
}
.h-15 {
  height: 15px;
}
.h-20 {
  height: 20px;
}
.h-25 {
  height: 25px;
}
.h-26 {
  height: 26px;
}
.h-27 {
  height: 26px;
}
.h-32 {
  height: 32px;
}
.h-38 {
  height: 38px;
}
.h-40 {
  height: 40px;
}
.h-46 {
  height: 46px;
}
.h-48 {
  height: 48px;
}
.h-55 {
  height: 55px;
}
.h-64 {
  height: 64px;
}
.h-80 {
  height: 80px;
}
.h-100 {
  height: 100px;
}
.h-120 {
  height: 120px;
}
.h-180 {
  height: 180px;
}
.h-460 {
  height: 460px;
}
.h-100vh {
  height: 100vh;
}
.float-left {
  float: left;
}
.d-flex {
  display: flex;
}
.f-jc-end {
  justify-content: flex-end;
}
.f-wrap {
  flex-wrap: wrap;
}
.fd-rr {
  flex-direction: row-reverse;
}
.fd-c {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.d-grid {
  display: grid;
}
.grid-full {
  grid-template-columns: 1fr !important;
}
.gap-15 {
  gap: 15px;
}
.gap-20 {
  gap: 20px;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.opacity-0_1 {
  opacity: 0.1;
}
.opacity-0_2 {
  opacity: 0.2;
}
.opacity-0_3 {
  opacity: 0.3;
}
.bs-5-ddd {
  box-shadow: 0 0 5px #ddd;
}
.bs-5-ccc {
  box-shadow: 0 0 5px #ccc;
}
.bs-10-ccc {
  box-shadow: 0 0 10px #ccc;
}
.resize-none {
  resize: none;
}
.appearance-none {
  -webkit-appearance: none;
  appearance: none;
}
@media (min-width: 767px) {
  .hide-lage {
    display: none;
  }
}
@media (max-width: 767px) {
  .wf-mobile {
    width: 100%;
  }
  .block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  .m-auto-mobile {
    margin: auto;
  }
  .mr-0-mobile {
    margin-right: 0;
  }
}
/* End Box */
/* Start Padding + Margin */
.p-2 {
  padding: 2px;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pr-15 {
  padding-right: 15px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-25 {
  padding-left: 25px;
}
.pl-30 {
  padding-left: 30px;
}
.m-auto {
  margin: auto;
}
.m-0 {
  margin: 0;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-50 {
  margin-top: 50px;
}
.mr-0 {
  margin-right: 0;
}
.mr-5 {
  margin-right: 5px;
}
.mr-7 {
  margin-right: 7px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-auto {
  margin-left: auto;
}
.ml-0 {
  margin-left: 0;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.w-full {
  width: 100%;
}
/* End Padding + Margin */
/* Start Color */
.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.bg-eee {
  background-color: var(--c-eee);
}
.bg-ccc {
  background-color: var(--bg-ccc);
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-lightBlue {
  background-color: var(--light-blue);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-grey {
  background-color: var(--grey-color);
}
.bg-darkpurple {
  background-color: var(--dark-shade-of-purple);
}
.c-blue {
  color: var(--blue-color);
}
.c-red {
  color: var(--red-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-green {
  color: var(--green-color);
}
.c-black {
  color: var(--black);
}
.c-darkgrey {
  color: var(--dark-grey-color);
}
.c-grey {
  color: var(--grey-color);
}
.c-white {
  color: white;
}
.c-darkpurple {
  color: var(--dark-shade-of-purple);
}
.c-666 {
  color: #666;
}
/* End Color */
/* Start Position */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.p-sticky {
  position: sticky;
}
.z-1000 {
  z-index: 1000;
}
.z-3000 {
  z-index: 3000;
}
.top-m43 {
  top: -43px;
}
.top-m20 {
  top: -20px;
}
.top-m25 {
  top: -25px;
}
.top-m5 {
  top: -5px;
}
.top-0 {
  top: 0;
}
.top-10 {
  top: 10px;
}
.top-20 {
  top: 20px;
}
.top-30 {
  top: 30px;
}
.top-35 {
  top: 35px;
}
.top-43 {
  top: 43px;
}
.top-half {
  top: 50%;
}
.right-m6 {
  right: -6px;
}
.right-m9 {
  right: -9px;
}
.right-m15 {
  right: -15px;
}
.right-m20 {
  right: -20px;
}
.right-m40 {
  right: -40px;
}
.right-m50 {
  right: -50px;
}
.right-m60 {
  right: -60px;
}
.right-0 {
  right: 0;
}
.right-10 {
  right: 10px;
}
.right-15 {
  right: 15px;
}
.right-20 {
  right: 20px;
}
.bottom-0 {
  bottom: 0;
}
.bottom-10 {
  bottom: 10px;
}
.left-half {
  left: 50%;
}
.left-0 {
  left: 0;
}
.left-10 {
  left: 10px;
}
.left-20 {
  left: 20px;
}
/* End Position */
/* Start Font */
.italic {
  font-style: italic;
}
.tt-cap {
  text-transform: capitalize;
}
.td-line {
  text-decoration: line-through;
}
.txt-c {
  text-align: center;
}
.txt-right {
  text-align: right;
}
.fw-normal {
  font-weight: normal;
}
.fw-bold {
  font-weight: bold;
}
.fw-900 {
  font-weight: 900;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}
.fs-19 {
  font-size: 19px;
}
.fs-20 {
  font-size: 20px;
}
.fs-21 {
  font-size: 21px;
}
.fs-25 {
  font-size: 25px;
}
.fs-30 {
  font-size: 30px;
}
.fs-40 {
  font-size: 40px;
}
.lh-1_6 {
  line-height: 1.6;
}
.lh-1_8 {
  line-height: 1.8;
}
.lh-25 {
  line-height: 25px;
}
.lh-32 {
  line-height: 32px;
}
.lh-40 {
  line-height: 40px;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/* End Font */
/* Start Border */
.rad-half {
  border-radius: 50%;
}
.rad-4 {
  border-radius: 4px;
}
.rad-6 {
  border-radius: 6px;
}
.rad-8 {
  border-radius: 8px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-16 {
  border-radius: 16px;
}
.tl-rad-7 {
  border-top-left-radius: 7px;
}
.tr-rad-7 {
  border-top-right-radius: 7px;
}
.br-rad-7 {
  border-bottom-right-radius: 7px;
}
.bl-rad-7 {
  border-bottom-left-radius: 7px;
}
.b-none {
  border: none;
}
.border-ddd {
  border: 1px solid #ddd;
}
.border-eee {
  border: 1px solid #eee;
}
.border-ccc {
  border: 1px solid #ccc;
}
.bt-eee {
  border-top: 1px solid #eee;
}
.bb-eee {
  border-bottom: 1px solid #eee;
}
.bt-ccc {
  border-top: 1px solid #ccc;
}
/* End Border */
/* Start Transform */
.t-ty-mhalf {
  transform: translateY(-50%);
}
/* End Transform */
/* Start Transition */
.td-0_3 {
  transition-duration: 0.3s;
}
.td-0_4 {
  transition-duration: 0.4s;
}
.td-0_6 {
  transition-duration: 0.6s;
}
/* End Transition */
/* Start Global */
.select-none {
  user-select: none;
}
.cursor-pointer {
  cursor: pointer;
}
/* End Global */
/* Start Components */
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape {
  width: fit-content;
  padding: 4px 10px;
  border-radius: 6px;
}
.grid-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.transform-c {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End Components */
